@import url(variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-family: "Inter_18-Bold";
}

.header{
    display: flex;
    justify-content: center;
}

.header1{
    font-family: "Inter_28-ExtraBoldItalic";
    position: relative;
}


.Sword{
    position: relative;
    width: 45px;
}

form{
    position: relative;
    margin-left: 60px;
    top: 30px;
}

.asd {
    display: block;
    margin: auto;
}